<!DOCTYPE html>
<html lang="en" ng-app="app" ng-strict-di="ng-strict-di">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Examples</title>
</head>
<body ng-controller="BmLocationOnMapDemoController as $ctrl">
  <h1>Examples</h1>
  <section>
    <h2>Controls</h2>
    <label>
      <input type="checkbox" ng-model="$ctrl.demo.disabled" value="disabled" />
      disabled
    </label>
    <label>
      <input type="checkbox" ng-model="$ctrl.demo.readonly" value="readonly" />
      readonly
    </label>
    <br />
    <label>
      latitude
      <input type="number" ng-model="$ctrl.demo.coords.latitude" step="0.0001" />
    </label>
    <label>
      longitude
      <input type="number" ng-model="$ctrl.demo.coords.longitude" step="0.0001" />
    </label>
    <div>
      <code>{{demo | json}}</code>
    </div>
  </section>
  <section>
    <h2>bm-static-location-on-map</h2>
    <code>bm-static-location-on-map [coords]</code>
    <bm-static-location-on-map
      coords="$ctrl.demo.coords"
    ></bm-static-location-on-map>
  </section>
  <section>
    <h2>bm-location-on-map</h2>
    <code>bm-location-on-map [coords] [disabled] [readonly]</code>
    <bm-location-on-map
      coords="$ctrl.demo.coords"
      ng-disabled="{{$ctrl.demo.disabled}}"
      on-change="$ctrl.onChange(value)"
      ng-readonly="{{$ctrl.demo.readonly}}"
    ></bm-location-on-map>
  </section>
  <section>
    <h2>bm-confirm-location-on-map</h2>
    <code>bm-confirm-location-on-map</code>
    <bm-confirm-location-on-map
      ng-disabled="{{$ctrl.demo.disabled}}"
      ng-model="$ctrl.demo.coords"
      ng-readonly="{{$ctrl.demo.readonly}}"
    ></bm-confirm-location-on-map>
  </section>

  <script src="../node_modules/angular/angular.js"></script>
  <script src="../dist/bm-location.js"></script>
  <script src="./app.js"></script>
</body>
</html>
